.active {
    color: blue; /* Change the color as needed */
}

#bottomLine {
    position: absolute;
    bottom: 0;
    height: 2px; /* Adjust the height as needed */
    background-color: blue; /* Change the color as needed */
    transition: transform 0.3s ease; /* Add smooth transition */
}
